/* Footer */
.container-footer{
    height: 250px;
    width: 100%;
    background-color:rgb(58, 58, 58);
    padding-top: 25px;
    padding-bottom:30px;
    padding-left: 15px;
    .logo-footer{
        width:120px;
        margin-left:15px;
        color: white;
    }
    .list-footer{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom:0px;
        margin-left: 15px;
        color: white;
        .lien-footer{
            display: flex;
            flex-direction:row;
            align-items: center;
            .fa-utensils, .fa-hands-helping{
                width:10px;
                margin-right: 15px;
            }
            .p-footer{
                margin:0px;
            }   
        }
    }
}