/* fichier css des menus */

body{
    font-family: roboto;
    margin: auto;
}

/* header */
.header-principal-page-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding-top: 10px;
    padding-bottom: 10px;
    .fa-arrow-left{
        position: absolute;
        left: 25px;
        top: 15px;
        color: black;
        cursor: pointer;
    }
    .logo-ohmyfood-page-menu{
    width:150px;
    }
}
/*!!!!!!!! Fin header page menu !!!!!!!!*/


/* Slider */
.slider-principal{
    width:100%;
    height: 250px;
    position:absolute;
    z-index: 0;
    .img-slider-principal{
    width: 100%;
    height: 250px;
    object-fit: cover;
    }
}
/* fin */


/* Container menu */
.container-menu{
    width: 100%;
    height: 1600px;
    background-color: #f6f6f6;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
    top: 220px;
    z-index: 1;
    .header-menu{
    padding-top: 15px;
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items:center;
    .titre-page-menu{
        font-size:26px;
        width:85%;
        }
        .fa-heart {
            font-size:24px;
        }
    }
    .container-section-menu{
        display: flex;
        flex-direction:column;
    }
}

/* section menu */
.liste-menu-restaurants{
    margin-bottom:40px;
}

.menu-restaurants{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .sous-titre-menu{
        font-size: 18px;
        font-weight: 400;
        text-decoration-color: #99E2D0;
        margin-bottom: 5px;
    }
    .trait-menu{
        margin-right: 90%;
        width: 35px;
        border-top: 3px solid #99E2D0;
    }
    
    .liste-menu-restaurants{
        list-style-type: none;
        padding: 0px;
        .plat-menu{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            background-color: white;
            overflow: hidden;
            height: 80px;
            margin-right: 0px;
            border-radius: 10px;
            margin-bottom: 15px;
            box-shadow: 0px 0px 10px 0px rgb(207, 207, 207);
            cursor: pointer;
            .contenu-carte-menu{
                width:auto;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                flex: 1;
                .p-1-menu{
                    width:auto;
                    margin: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-left: 15px;
                }          
                .p-2-menu{
                    width:auto;
                    margin: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-left: 15px;
                }  
            }
        }
        .wrapIcon{
        height: 1.6rem;
        width: 1.6rem;
        padding-left: 30px;
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.5s;
        }
        li{
            margin: 0px;
        }
        .p-3-menu{
            font-weight: bold;
            width:auto;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            text-overflow: ellipsis;
            padding-left: 0.5rem;
            margin-right: 10px;
            padding-top: 20px;
        }
    }
}

/* button */
.container-button{
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}












