/* Animation des menus */

.text {
    padding:10px;
}
    
.slide-left {
    background-color: $colour-tertiary;
    padding: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: -78px;
    & .rotate-center {
        height: 1.6rem;
        width: 1.6rem;
        font-size: 24px;
        color: $colour-white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transform: rotate(360deg);
        transition-duration: 0.5s;
    }
}

.plat-menu .tarif-plat {
    transition: all 0.4s;
}

.plat-menu:hover {
    .slide-left {
        width: 30px;
        display: block;
        content: transparent;
        background-color: $colour-tertiary;
        padding: 17px;
        padding-top: 25px;
        padding-bottom: 30px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        & .rotate-center {
            transform: rotate(0);
        }
    }
    .tarif-plat {
        margin-right: 90px;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-78px);
    }
  }
  
  
/* Fade in */

.vignets {
    
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari et Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}