/* Fichiers des variables ohmyfood */

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #fff;
$colour-slider-principal: #808080;
$colour-logo-footer: #fff;
