@charset "UTF-8";
.titre-page-menu {
  font-family: "Shrikhand", cursive;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 3;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #99E2D0;
}
.loader__item--2 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #9356DC;
  animation-delay: 0.5s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
/* Fichiers des variables ohmyfood */
/* Footer */
.container-footer {
  height: 250px;
  background-color: #3a3a3a;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 15px;
}
.container-footer .element-footer .logo-footer {
  width: 120px;
  margin-left: 15px;
  color: white;
}
.container-footer .element-footer .list-footer {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 15px;
  color: #fff;
}
.container-footer .element-footer .list-footer .lien-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}
.container-footer .element-footer .list-footer .lien-footer .fa-utensils, .container-footer .element-footer .list-footer .lien-footer .fa-hands-helping {
  width: 10px;
  margin-right: 15px;
}
.container-footer .element-footer .list-footer .lien-footer .p-footer {
  margin: 0px !important;
}

/* Footer page menu */
/* section Footer */
/*
.container-footer{
    width: 100%;
    background-color:#353535;
    padding-top: 25px;
    padding-bottom:30px;
    position:absolute;
    z-index: 2;
    .logo-footer{
        width:120px;
        margin-left:15px;
        color: white;
    }
    .list-footer{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        height: 150px;
        margin-top: 15px;
        margin-bottom:0px;
        margin-left: 15px;
        padding-left: 5px;
        color: white;
        .fa-utensils, .fa-hands-helping{
            width:10px;
            margin-right: 10px;
        }
    }
    .lien-footer{
        display: flex;
        flex-direction:row;
        align-items: center;
    }
    .p-footer{
        margin:5px;
    }
}*/
@media screen and (min-width: 700px) {
  .container-footer .element-footer {
    max-width: 1340px;
    margin: auto;
  }
  .container-footer .element-footer .logo-footer {
    width: 120px;
    margin-left: 15px;
    color: white;
  }
  .container-footer .element-footer .list-footer {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
    height: 28px;
    gap: 60px;
    padding-left: 5px;
    color: white;
  }
  .container-footer .element-footer .list-footer .lien-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container-footer .element-footer .list-footer .lien-footer .fa-utensils, .container-footer .element-footer .list-footer .lien-footer .fa-hands-helping {
    width: 10px;
    margin-right: 15px;
  }
  .container-footer .element-footer .list-footer .lien-footer .p-footer {
    margin: 0px;
  }
}
/*
@media screen and (min-width:700px) {
    .container-footer{
        width: 100%;
        background-color:#353535;
        padding-top: 25px;
        padding-bottom:30px;
        position:absolute;
        z-index: 2;
        .logo-footer{
            width:120px;
            margin-left:15px;
            color: white;
        }
        .list-footer{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            height: 150px;
            margin-top: 15px;
            margin-bottom:0px;
            margin-left: 15px;
            padding-left: 5px;
            color: white;
            .fa-utensils, .fa-hands-helping{
                width:10px;
                margin-right: 10px;
            }
        }
        .lien-footer{
            display: flex;
            flex-direction:row;
            align-items: center;
        }
        .p-footer{
            margin:5px;
        }
    }
}
*/
.btn-slider-principal {
  border-radius: 25px;
  border: none;
  padding: 15px;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 35px 0px #a0a0a0;
}
.btn-slider-principal.btn-slider-principal:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn-commander {
  width: 150px;
  margin: auto;
  border-radius: 25px;
  border: none;
  padding: 15px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 35px 0px #a0a0a0;
}
.btn-commander:hover {
  cursor: pointer;
  transform: scale(1.05);
}

body {
  font-family: roboto;
  margin: 0px;
  margin: auto;
}

.container-logo {
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 15px 5px #000000;
  box-shadow: 0px 4px 15px 5px #000000;
}
.container-logo .logo-ohmyfood {
  width: 150px;
}

.container-address {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  box-shadow: inset 0px 0px 5px 1px #adadad, -48px 5px 15px 5px rgba(211, 211, 211, 0);
}
.container-address i {
  margin-right: 15px;
}

/* Slider principal */
.container-slider-principal {
  width: 100%;
  margin: auto;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
}
.container-slider-principal .h1-slider-principal {
  font-size: 22px;
}
.container-slider-principal .p-slider-principal {
  color: grey;
}

/* !!!!! Fin slider principal !!!! */
/*Début contenu principal */
main {
  width: 100%;
}

/* Section Fonctionnement */
.container-fonctionnement {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.container-fonctionnement .liste-fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
}
.container-fonctionnement .liste-fonctionnement .li-fonctionnement {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 55px;
  width: 90%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 35px 2px #d8d8d8;
}
.container-fonctionnement .liste-fonctionnement .li-fonctionnement.li-fonctionnement:hover {
  cursor: pointer;
  background-color: #bea8da5b;
}
.container-fonctionnement .liste-fonctionnement .li-fonctionnement .fa-list-ul, .container-fonctionnement .liste-fonctionnement .li-fonctionnement .fa-mobile-alt, .container-fonctionnement .liste-fonctionnement .li-fonctionnement .fa-store {
  color: #808080;
  width: 15px;
  margin-right: 35px;
}
.container-fonctionnement .liste-fonctionnement .li-fonctionnement .badge {
  position: absolute;
  left: -10px;
  color: #fff;
  font-weight: 400;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
}

ul {
  padding: 0;
}

/* !!!! fin section fonctionnement !!!! */
/* section carte restaurants */
h2 {
  font-weight: bold;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
h2.h2-restaurants {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.container-restaurants {
  width: 100%;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 0px;
}
.container-restaurants .liste-restaurants {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.container-restaurants .liste-restaurants .badge-new-position {
  display: flex;
  justify-content: flex-end;
  position: relative !important;
  z-index: 5;
  text-align: right;
}
.container-restaurants .liste-restaurants .badge-new-position .badge-new {
  color: #5aa793;
  position: absolute;
  background-color: #99E2D0;
  border-radius: 5px;
  padding: 2px;
  margin-right: 10px !important;
  margin-top: 10px !important;
}
.container-restaurants .liste-restaurants .card-restaurants {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
  height: 220px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 8px -2px #616161;
  box-shadow: 0px 2px 8px -2px #616161;
  transition: 600ms;
}
.container-restaurants .liste-restaurants .card-restaurants.card-restaurants:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 600ms;
  height: auto;
}

.img-card-restaurants {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.info-card-restaurants {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-card-restaurants .text-card-restaurants .p1-card-restaurants {
  margin-left: 15px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 2px;
  width: 90%;
}
.info-card-restaurants .text-card-restaurants .p2-card-restaurant {
  font-weight: 100;
  margin-left: 15px;
  margin-top: 0;
}
.info-card-restaurants .far {
  font-size: 25px;
}
.info-card-restaurants .fa-heart {
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 15px;
  color: #a7a7a7;
  transition: all 0.3s;
  transform: to bottom;
}
.info-card-restaurants .fa-heart:hover {
  background: -webkit-linear-gradient(160deg, #FF79DA, #9356DC);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-card-restaurants .fa-heart:hover:after:active {
  background: -webkit-linear-gradient(160deg, colour-secondary, #9356DC);
}

a {
  text-decoration: none;
  color: #fff;
}

/* !!!! fin section restaurants !!!!! */
/* !!!! fin du contenu principal !!!!! */
/* END css mobil first */
@media screen and (min-width: 700px) {
  body {
    margin: auto;
  }

  .container-principal {
    max-width: 1340px;
    margin: auto;
  }

  /* Header principal*/
  .container-logo {
    width: 100%;
    margin: auto;
  }

  .container-slider-principal {
    width: 100%;
  }

  /* Section Fonctionnement */
  .container-fonctionnement {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .container-fonctionnement .liste-fonctionnement {
    display: flex;
    flex-direction: row;
    width: 60%;
  }
  .container-fonctionnement .liste-fonctionnement .li-fonctionnement {
    width: 100%;
    margin: 15px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fonctionnement .liste-fonctionnement .li-fonctionnement .fa-list-ul, .container-fonctionnement .liste-fonctionnement .li-fonctionnement .fa-mobile-alt, .container-fonctionnement .liste-fonctionnement .li-fonctionnement .fa-store {
    padding-left: 5px;
  }

  .container-restaurants {
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .container-restaurants .liste-restaurants {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  body {
    margin: auto;
  }

  .container-principal {
    max-width: 1340px;
    margin: auto;
  }

  /* Header principal*/
  .container-logo {
    width: 100%;
    margin: auto;
  }

  .container-slider-principal {
    width: 100%;
  }

  /* Section Fonctionnement */
  .container-fonctionnement {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .container-fonctionnement .liste-fonctionnement {
    display: flex;
    flex-direction: row;
    width: 60%;
  }
  .container-fonctionnement .liste-fonctionnement .li-fonctionnement {
    width: 100%;
    margin: 15px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fonctionnement .liste-fonctionnement .li-fonctionnement .fa-list-ul, .container-fonctionnement .liste-fonctionnement .li-fonctionnement .fa-mobile-alt, .container-fonctionnement .liste-fonctionnement .li-fonctionnement .fa-store {
    padding-left: 5px;
  }

  .container-restaurants {
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .container-restaurants .liste-restaurants {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* fichier css des menus */
body {
  font-family: roboto;
  margin: auto;
}

/* header */
.header-principal-page-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-principal-page-menu .fa-arrow-left {
  position: absolute;
  left: 25px;
  top: 15px;
  color: black;
  cursor: pointer;
}
.header-principal-page-menu .logo-ohmyfood-page-menu {
  width: 150px;
}

/*!!!!!!!! Fin header page menu !!!!!!!!*/
/* Slider */
.slider-principal {
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: 0;
}
.slider-principal .img-slider-principal {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* fin */
/* Container menu */
.container-menu {
  width: 100%;
  height: 1600px;
  background-color: #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  top: 220px;
  z-index: 1;
}
.container-menu .header-menu {
  padding-top: 15px;
  width: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-menu .header-menu .titre-page-menu {
  font-size: 26px;
  width: 85%;
}
.container-menu .header-menu .fa-heart {
  font-size: 24px;
}
.container-menu .container-section-menu {
  display: flex;
  flex-direction: column;
}

/* section menu */
.liste-menu-restaurants {
  margin-bottom: 40px;
}

.menu-restaurants {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-restaurants .sous-titre-menu {
  font-size: 18px;
  font-weight: 400;
  text-decoration-color: #99E2D0;
  margin-bottom: 5px;
}
.menu-restaurants .trait-menu {
  margin-right: 90%;
  width: 35px;
  border-top: 3px solid #99E2D0;
}
.menu-restaurants .liste-menu-restaurants {
  list-style-type: none;
  padding: 0px;
}
.menu-restaurants .liste-menu-restaurants .plat-menu {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  overflow: hidden;
  height: 80px;
  margin-right: 0px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px 0px #cfcfcf;
  cursor: pointer;
}
.menu-restaurants .liste-menu-restaurants .plat-menu .contenu-carte-menu {
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menu-restaurants .liste-menu-restaurants .plat-menu .contenu-carte-menu .p-1-menu {
  width: auto;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 15px;
}
.menu-restaurants .liste-menu-restaurants .plat-menu .contenu-carte-menu .p-2-menu {
  width: auto;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 15px;
}
.menu-restaurants .liste-menu-restaurants .wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  padding-left: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menu-restaurants .liste-menu-restaurants li {
  margin: 0px;
}
.menu-restaurants .liste-menu-restaurants .p-3-menu {
  font-weight: bold;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-overflow: ellipsis;
  padding-left: 0.5rem;
  margin-right: 10px;
  padding-top: 20px;
}

/* button */
.container-button {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 700px) {
  .container-menu {
    max-width: 1340px;
    margin: auto;
    height: 800px;
    background-color: #f6f6f6;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
    top: 220px;
    z-index: 1;
  }
  .container-menu .header-menu {
    padding-top: 15px;
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container-menu .header-menu .titre-page-menu {
    font-size: 26px;
    width: 85%;
  }
  .container-menu .header-menu .fa-heart {
    font-size: 24px;
  }
  .container-menu .container-section-menu {
    display: flex;
    flex-direction: row;
  }
}
/* Animation des menus */
.text {
  padding: 10px;
}

.slide-left {
  background-color: #99E2D0;
  padding: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: -78px;
}
.slide-left .rotate-center {
  height: 1.6rem;
  width: 1.6rem;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.plat-menu .tarif-plat {
  transition: all 0.4s;
}

.plat-menu:hover .slide-left {
  width: 30px;
  display: block;
  content: transparent;
  background-color: #99E2D0;
  padding: 17px;
  padding-top: 25px;
  padding-bottom: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.plat-menu:hover .slide-left .rotate-center {
  transform: rotate(0);
}
.plat-menu:hover .tarif-plat {
  margin-right: 90px;
}

@keyframes slide-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-78px);
  }
}
/* Fade in */
.vignets {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  /* Firefox */
  -webkit-animation: fadein 3s;
  /* Safari et Chrome */
  -o-animation: fadein 3s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
